<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/index.css">
    <title>CoreInventory</title>
</head>
<body>
    <nav>
        <a href="#">Dashboard</a>
        <a href="#">Operation</a>
        <a href="{{ url_for('stock') }}">Stock</a>
        <a href="#">Move History</a>
        <a href="#">Settings</a>

        <p>Dashboard</p>
        <!-- logo comes here -->
        <img alt="logo" src="#">
    </nav>
    <div id="Receipt" class="receipt-box">
        <div>
        <h2>Receipt</h2>
        <h3>{{recieve}} to recieve</h3>
        </div>

        <div>
            <!-- late, waiting, operations come here -->
            <ul>
                {% for item in receipts: %}
                <li>{{item['SKU']}}: {{item['category']}} {{item['schedule']}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="Delivery" class="delivery-box">
        <div>
        <h2>Delivery</h2>
        <h3>{{deliver}} to deliver</h3>
        </div>

        <div>
            <!-- late, operations come here -->
            <ul>
                {% for item in deliveries: %}
                <li>{{item['SKU']}}: {{item['category']}} {{item['schedule']}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <footer>
        <p>CoreInventory</p>
    </footer>
</body>
</html>