<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/index.css">
    <title>CoreInventory</title>
</head>
<body>
    <nav>
        <a href="#">Dashboard</a>
        <a href="#">Operation</a>
        <a href="#">Stock</a>
        <a href="#">Move History</a>
        <a href="#">Settings</a>

        <p>Dashboard</p>
        <!-- logo comes here -->
        <img alt="logo" src="#">
    </nav>
    <div id="Receipt" class="receipt-box">
        <div>
        <h2>Receipt</h2>
        <h3>X to recieve</h3>
        </div>

        <div>
            <!-- late, waiting, operations come here -->
            <ul>
                <li>late</li>
                <li>operations</li>
                <li>waiting</li>
            </ul>
        </div>
    </div>

    <div id="Delivery" class="delivery-box">
        <div>
        <h2>Delivery</h2>
        <h3>X to deliver</h3>
        </div>

        <div>
            <!-- late, operations come here -->
            <li>late</li>
            <li>operations</li>
        </div>
    </div>

    <footer>
        <p>CoreInventory</p>
    </footer>
</body>
</html>