<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/index.css">
    <title>CoreInventory</title>
</head>
<body>
    <nav>
        <a href="#">Dashboard</a>
        <a href="#">Operation</a>
        <a href="#">Stock</a>
        <a href="#">Move History</a>
        <a href="#">Settings</a>

        <p>Dashboard</p>
        <!-- logo comes here -->
    </nav>
    <div id="Reciept">
        <div>
        <h2>Reciept</h2>
        <h3>X to recieve</h3>
        </div>

        <div>
            <!-- late, waiting, operations come here -->
        </div>
    </div>

    <div id="Delivery">
        <div>
        <h2>Delivery</h2>
        <h3>X to deliver</h3>
        </div>

        <div>
            <!-- late, waiting, operations come here -->
        </div>
    </div>

    <footer>
        <p>CoreInventory</p>
    </footer>
</body>
</html>