<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/login.css">
    <title>CoreInventory</title>
</head>
<body>
    <div class="form-box">
    <form action="{{ url_for('login') }}" method="POST">
        {% if login_failed %}
            <p>Invalid Login-ID or Password!</p>
        {% endif %}
        {% if error %}
            <p>{{error}}</p>
        {% endif%}
        <div class="form-group">
            <label>Enter Login Id</label>
            <input type="text" name="loginId" required>
        </div>

        <div class="form-group">
            <label>Enter Password</label>
            <input type="password" name="password" required>
        </div>

        <button class="btn" type="submit">SIGN IN</button>
        <a href="#">Forgot password? |</a>
        <a href="{{ url_for('signup') }}">SIGN UP</a>
    </form>
    </div>
</body>
</html>