<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Move History - CoreInventory</title>
    <link rel="stylesheet" href="../static/css/move_history.css">
</head>

<body>

{% include "./nav.html" %}

<div class="history-container">

    <h1>Transaction History</h1>

    <table>

        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>SKU</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>From</th>
                <th>To</th>
                <th>Schedule Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

        {% for item in trans %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.type}}</td>
                <td>{{item.SKU}}</td>
                <td>{{item.category}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.from_location}}</td>
                <td>{{item.to_location}}</td>
                <td>{{item.schedule_date}}</td>
                <td>{{item.status}}</td>

                <td>
                    {% if item.type == "Delivery" and item.status != "Completed" %}
                        <button class="complete-btn">Complete</button>
                    {% else %}
                        <span class="completed-text">Done</span>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}

        </tbody>

    </table>

</div>

<footer>
    <p>CoreInventory</p>
</footer>

</body>
</html>
