<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Move History - CoreInventory</title>
    <link rel="stylesheet" href="../static/css/move_history.css">
</head>

<body>
{% include "./nav.html" %}

<div class="history-container">

    <h1>Transaction History</h1>

    <table>

        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>SKU</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>From</th>
                <th>To</th>
                <th>Schedule Date</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
        {% for item in trans %}
            <tr>
                <th>{{item.id}}</th>
                <th>{{item.type}}</th>
                <th>{{item.SKU}}</th>
                <th>{{item.category}}</th>
                <th>{{item.quantity}}</th>
                <th>{{item.from_location}}</th>
                <th>{{item.to_location}}</th>
                <th>{{item.schedule_date}}</th>
                <th>{{item.status}}</th>
            </tr>
        {% endfor %}

        </tbody>



    </table>

</div>

<footer>
    <p>CoreInventory</p>
</footer>

</body>
</html>
